# Example .env file for stalker-server
# The values should go after the "=", unquoted and without unnecessary whitespace

# MySQL
MYSQL_ROOT_PASSWORD=

# InfluxDB
INFLUXDB_ADMIN_PASSWORD=

# JWT
JWT_SECRET=

# Email account used for password recovery
EMAIL_ACCOUNT_PASSWORD=

# SonarCloud login token
SONARCLOUD_LOGIN=
