### Gradle ###
HELP.md
.gradle
build/
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### DOTENV FILE ###
.env

### VS Code ###
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/scripts/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# vscode builds java projects to bin/
bin/
