# create a file here named local.properties and put the actual passwords there

# Server admin api key
apikey=example-api-key

# MySQL
spring.r2dbc.password=example-root-password

# InfluxDB
influxdb.password=example-admin-password
