## Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

## Generate @lombok.Generated on all generated code (default: false).
lombok.addLombokGeneratedAnnotation = true

## This is necessary to serialize/deserialize values in spring jackson and r2dbc
lombok.anyConstructor.addConstructorProperties = true
